html, body{
    width: 100%
}

body{
    background-image: url(../images/glitch-2717630_1920.jpg);
}

.flex-container{
    display: flex;
    width: 99%;
    margin:0 auto;
    margin:10px;
}

#buttonDiv{
    width: 100%;
    margin-top: 15px;
    background-color: rgba(255, 255, 255, 0.5);
}

button {
    font-size: 18px;
    margin: 10px;
    background-color: rgb(217, 0, 255);
    border: white 1px solid;
}

#gifDiv{
width: 66%;
display: flex;
flex-direction: row;
flex-wrap: wrap;
background-color: rgba(255, 255, 255, 0.5);
}
#gifDiv h2{
    font-size: 24px;
    color:white;
    margin-bottom: 5px;
}

.gifBox{
    margin: 5px;
}

#gifDiv img{
    border: 2px white solid;
}

#searchDiv{
margin-left:10px;
width: 34%;
background-color: rgba(255, 255, 255, 0.5);
}

#searchDiv label{
font-size: 24px;
color: white;
margin: 5px;
}

#searchDiv #show{
    margin: 5px;
    width: 90%;
    font-size: 16px;
}

#searchDiv .search-button{
    font-size: 18px;
    margin: 10px;
    background-color: rgb(217, 0, 255);
    border: white 1px solid;
}

